@import '../variables'
@import '../responsive.mixin'

h1
    font-family: 'Amatic SC', cursive
    font-size: 48pt
    margin: 0
    text-align: center
    user-select: none
    transition: all .5s ease
    width: fit-content
    margin-left: auto
    margin-right: auto
    @include screen('phone')
        font-size: 38pt
        line-height: 7vh
    &:first-child
        letter-spacing: 3px
    &:hover
        margin-top: -10px
        padding-bottom: 10px

.name
    color: $green
    font-size: 80pt
    line-height: 100px
    letter-spacing: 3px 
    @include screen('phone')
        font-size: 62pt
        margin-top: -5px

img
    padding-top: 4vh
    padding-bottom: 4vh
    transition: all .5s ease
    &:hover
        padding-top: calc(5vh - 10px)
        padding-bottom: calc(5vh + 10px)
    @include screen('phone')
        width: 50%
        padding-top: 2.5vh
        padding-bottom: 2.5vh

.content
    position: absolute
    padding-top: 5vh
    left: 0
    right: 0