<div class="container" (window:resize)='onResizeListener()' appFullView>
  <div class="content">
    <h1 @firstEnter>Serwis wózków widłowych</h1>
    <img @fade src="../../assets/logo-mariowoz.svg" />
    <h1 @secondEnter>Mariusz Kasprzak</h1>
    <h1 @secondEnter class="name">Mariowóz</h1>
  </div>

  <div class="navbar">
    <app-navbar
      [items]="['kontakt', 'usługi', 'o mnie']"
      color="dark"
    ></app-navbar>
  </div>

  <div class="arrow-down">
    <app-arrow
      clas="arrow"
      type="down"
      elementId="about-me"
      color="dark"
    ></app-arrow>
  </div>
</div>
