@import '../variables'
@import '../responsive.mixin'

p
    font-family: 'Amatic SC', cursive
    font-size: 48pt
    margin: 0
    text-align: center
    user-select: none
    &:first-child
        letter-spacing: 3px

.name
    color: $green
    font-size: 80pt
    line-height: 100px
    letter-spacing: 3px 

img
    padding-top: 5vh
    padding-bottom: 5vh

.content
    position: absolute
    padding-top: 5vh
    left: 0
    right: 0