<div class="container" appFullView>
  <div class="content">
    <p @firstEnter>Serwis wózków widłowych</p>
    <img @fade src="../../assets/logo-mariowoz.svg" />
    <p @secondEnter>Mariusz Kasprzak</p>
    <p @secondEnter class="name">Mariowóz</p>
  </div>

  <div class="navbar">
    <app-navbar
      [items]="['kontakt', 'usługi', 'o mnie']"
      color="dark"
    ></app-navbar>
  </div>

  <div class="arrow-down">
    <app-arrow
      clas="arrow"
      type="down"
      elementId="about-me"
      color="dark"
    ></app-arrow>
  </div>
</div>
