@import '../variables'
@import '../responsive.mixin'

.content
    height: 100%
    width: 45vw
    margin-left: auto
    margin-right: auto
    background-color: $grey
    border-radius: 5px
    @include screen('tablet')
        width: 100%
        border-radius: 0

p
    color: white
    position: absolute
    left: 50%
    transform: translateX(-50%)
    width: 400px
    height: fit-content
    top: 35vh
    @include screen('tablet')
        // padding: 0 6vh 
        // width: auto
        width: 70vw
        top: 50%
        transform: translateX(-50%) translateY(-50%)
        text-align: justify
        text-align-last: center
    @include screen('phone')
        transform: translateX(-50%) translateY(-60%)
    @include screen('small-phone')
        margin-top: 10vh

.header
    position: absolute
    width: 750px
    top: 18vh
    left: 50%
    transform: translateX(-50%)
    @include screen('phone')
        top: 10vh
    @include screen('small-phone')
        top: 12vh
h2
    color: white
    margin: 0
    @include screen('phone')
        line-height: $header-font-size
        
.icon-1, .icon-2
    position: absolute
    width: fit-content
    height: fit-content
    top: 50%


.icon-1
    left: 27.5vw
    transform: translateY(-50%) translateX(-50%)
    @include screen('tablet')
        left: 50%
        z-index: 3
        transform: translateY(-50%) translateX(-50%)
        left: 50%

.settings
    @include screen('tablet')
        width: 640px
        height: 640px

.icon-2
    left: 72.5vw
    transform: translateY(-50%) translateX(-50%)
    @include screen('tablet')
        display: none

.screwdriver
    @include screen('tablet')

path
    @include screen('tablet')
        fill: rgba(255, 255, 255, 0.02)

br
    display: none
    @include screen('phone')
        display: block


