.content
    position: absolute
    left: 0
    right: 50px
    
.information
    position: absolute
    left: 0
    right: -475px
    z-index: 2

.form
    position: absolute
    top: 10vh
    left: 0
    right: 475px
    z-index: 1

.app-form
    position: relative
    right: 0

.footer
    position: absolute
    height: 5vh
    width: 100%
    bottom: 0
    p
        line-height: 5vh
        font-size: 10pt
        letter-spacing: 5px
        b
            font-size: 10pt
        