@import '../../variables'
@import '../../responsive.mixin'
    
ul
    margin: 0
    padding: 0
    width: max-content
    @include screen('phone')
        margin-bottom: 17px
    @include screen('small-phone')
        display: none

li
    list-style: none
    text-align: center
    margin-top: 15px
    &:first-child
        margin-top: 0

a
    text-decoration: none
    color: black
    text-transform: capitalize
    font-size: $font-size
    font-weight: $standard-weight

div:hover .underline
    width: 70px
    &:hover .light
        color: $grey

.underline
    width: 0
    transition: all .3s ease
    border-bottom: 1px solid transparent
    margin-left: auto
    margin-right: auto

.underline.light
    transition: all .3s ease
    border-color: rgba(255, 255, 255, 0.3)
    
.underline.dark
    transition: all .3s ease
    border-color: rgba(0, 0, 0, 0.4)

.underline.dark
    @include screen('phone')
        border-color: transparent

.underline.active
    border: none

.active
    font-size: 22pt
    font-weight: $bold-weight
    &:hover
        cursor: default

.dark
    color: rgba(0, 0, 0, 0.4)
    transition: color .3s ease
    &:hover
        color: rgba(0, 0, 0, 0.6)
        @include screen('phone')
            color: rgba(0, 0, 0, 0.4)

.light
    transition: color .3s ease
    color: rgba(255, 255, 255, 0.3)
    &:hover
        color: rgba(255, 255, 255, .5)
        @include screen('phone')
            color: rgba(255, 255, 255, 0.3)

.light.active:hover
    color: rgba(255, 255, 255, 0.3)

.dark.active:hover
    color: rgba(0, 0, 0, 0.4)