.background
    position: fixed
    background-image: url('../assets/texture-background.png')
    height: 100vh
    width: 100vw

.scroll
    height: calc(100vh + 4px)

.header, .about-me, .services, .contact
    transition: all 1s ease
    position: fixed
    margin-left: 25%
    margin-right: auto
    width: 100vh
    height: 100vh

.header
    margin-top: 000vh

.about-me
    margin-top: 100vh

.services
    margin-top: 200vh

.contact
    margin-top: 300vh
