@import '../variables'
@import '../responsive.mixin'

.content
    position: absolute
    height: auto
    left: 0
    right: 0
    top: 50%
    transform: translateY(-65%)
    @include screen('phone')
        transform: translateY(-50%)
        height: 100vh

.header
    width: 968px
    height: fit-content
    margin: 0 auto
    border-radius: 5px
    padding-top: 7px
    padding-bottom: 7px
    background-image: url('../../assets/services-background.png')
    h2
        width: fit-content
        height: fit-content
        background-color: rgba(0, 0, 0, 0.5)
        padding: 30px 80px 30px 80px 
        border-radius: 5px
        color: white
        margin-left: auto
        margin-right: auto
        margin-top: 30px
        margin-bottom: 30px
    @include screen('phone')
        position: absolute
        left: 50%
        transform: translateX(-50%)
        top: 12vh
        h2
            margin-top: 15px
            margin-bottom: 15px

.services 
    margin-left: auto
    margin-right: auto
    top: 40vh
    margin-top: 6vh
    margin-bottom: 6vh
    p
        margin-bottom: 5px
        transition: all .3s ease
        width: 300px
        display: inline-block
        border-radius: 50%
        @include screen('phone')
            display: block
            margin-top: 3vh
            &:first-of-type
                margin-top: 0
    @include screen('phone')
        position: absolute
        top: 50%
        left: 50%
        transform: translateY(-50%) translateX(-50%)
        margin: 0
            


.text
    background-color: rgba(45, 45, 45, 0.5)
    width: 630px
    border-radius: 5px
    margin-left: auto
    margin-right: auto
    // top: 55vh
    p
        padding: 25px 40px 25px 40px
        color: white
    @include screen('phone')
        position: absolute
        width: 85%
        bottom: 12vh
        left: 50%
        transform: translateX(-50%)
        p
            padding: 15px
            text-align: center

.navbar
    @include screen('phone')
        display: none