@import '../variables'
@import '../responsive.mixin'

.content
    position: absolute
    height: auto
    left: 0
    right: 0
    top: 50%
    transform: translateY(-65%)

.header
    width: 968px
    height: fit-content
    margin: 0 auto
    border-radius: 5px
    top: 15vh
    padding-top: 7px
    padding-bottom: 7px
    background-image: url('../../assets/services-background.png')
    h2
        width: fit-content
        height: fit-content
        background-color: rgba(0, 0, 0, 0.5)
        padding: 30px 80px 30px 80px 
        border-radius: 5px
        color: white
        margin-left: auto
        margin-right: auto
        margin-top: 30px
        margin-bottom: 30px

.services 
    margin-left: auto
    margin-right: auto
    top: 40vh
    margin-top: 8vh
    margin-bottom: 8vh
    p
        margin-bottom: 5px
        transition: all .3s ease
        width: 300px
        display: inline-block
        border-radius: 50%
            


.text
    background-color: rgba(95, 79, 79, 0.5)
    width: 630px
    border-radius: 5px
    margin-left: auto
    margin-right: auto
    top: 55vh
    p
        padding: 25px 40px 25px 40px
        color: white