@import '../../variables'
@import '../../responsive.mixin'
    
.header, .contact, .icons, .background-wrench, .content, .footer
    position: absolute
    left: 50%
    transform: translateX(-50%)

.navbar
    top: 10vh
    @include screen('tablet')
        display: none

.content
    color: white
    height: 95vh
    width: 500px
    background-color: $grey
    border-radius: 5px
    @include screen('tablet')
        height: 100vh
        width: 100vw
        left: 0
        transform: none
        border-radius: 0

.header
    top: 30vh
    color: rgba(255, 255, 255, 0.5)
    h3
        margin-top: -10px
    @include screen('tablet')
        width: 100vw
        top: 10vh
        h3
            width: fit-content
            margin-left: auto
            margin-right: auto
            padding: 20px
            border-style: solid
            border-color: $green
            border-radius: 30px
            border-width: 3px
            margin-top: 30px
            color: white
    @include screen('small-phone')
        top: 17vh

.contact
    width: 100%
    top: 50vh
    @include screen('tablet')
        top: 52.5vh
        transform: translateX(-50%) translateY(-50%)
    @include screen('phone')
        top: 50%
        transform: translateX(-50%) translateY(-50%)

.arrow-down
    padding-bottom: 4vh

.contact-icons, .contact-data
    display: inline-block

.contact-data
    margin-left: 50px

.phone, .email, .nip
    display: block
    @include screen('small-phone')
        height: 16pt

.email
    margin-top: 30px
    margin-bottom: 30px

.icons
    width: 100%
    height: fit-content
    bottom: 7vh
    @include screen('tablet')
        top: 85vh
        transform: translateX(-50%) translateY(-50%)
    @include screen('phone')
        bottom: 12vh

.settings, .screwdriver, .wrench
    margin-left: calc((100% - 195px)/3)
    &:first-child
        margin-left: 0
    @include screen("small-phone")
        width: 40px
        margin-left: 20vw
        &:first-of-type
            margin-let: 0

.background-wrench
    transform: translateX(35%) translateY(50%)
    @include screen('tablet')
        display: none