<div class="container" appFullView>
  <div class="header">
    <p (click)="onClick('header')" id="header-scrollbar" class="active">
      Banner
    </p>
  </div>
  <div class="about-me">
    <p (click)="onClick('about-me')" id="about-me-scrollbar" class="asd">
      O mnie
    </p>
  </div>
  <div class="services">
    <p (click)="onClick('services')" id="services-scrollbar" class="asd">
      Usługi
    </p>
  </div>
  <div class="contact">
    <p (click)="onClick('contact')" id="contact-scrollbar" class="asd">
      Kontakt
    </p>
  </div>
</div>
