<div class="container" appFullView>
  <div class="header">
    <p
      @fadeIn4
      (click)="onClick('header')"
      id="header-scrollbar"
      class="active"
    >
      Banner
    </p>
  </div>
  <div class="about-me">
    <p
      @fadeIn3
      (click)="onClick('about-me')"
      id="about-me-scrollbar"
      class="asd"
    >
      O mnie
    </p>
  </div>
  <div class="services">
    <p
      @fadeIn2
      (click)="onClick('services')"
      id="services-scrollbar"
      class="asd"
    >
      Usługi
    </p>
  </div>
  <div class="contact">
    <p @fadeIn1 (click)="onClick('contact')" id="contact-scrollbar" class="asd">
      Kontakt
    </p>
  </div>
</div>
